body{
  background-image: url('media/city.gif'); /* Añade la ruta a tu imagen local */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen de fondo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
  text-align: center;
}

h1{
  background-color: white;
  padding: 15px;
  border: solid 2px black;
  border-radius: 5px;
  font-family: 'Gill Sans';
  color: black;
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li{
  background-color: white;
  list-style-type: none;
  height: 25px;
  padding: 5px;
  text-align: center;
  margin: 5px;
  border: solid 2px black;
  padding: 8px;
  border-radius: 5px;
}

a{
  background-color: white;
  text-decoration: none;
  color: black;
  height: 1;
  gap: 5px;
  
  line-height: 2; /* Mantiene la altura de la línea */
  margin: 10px; /* Añadido para espacio entre los elementos */
}

a:hover {
  color: rgb(243,82,74);
  text-shadow: 0 0 3px #ff0000;
  border: solid 2px rgb(243,82,74);
}