

body{
  background-color: rgb(0, 0, 0);
  background-image: url(media/folios.jpg);
  background-size: 314px;
  background-repeat: no-repeat;
  background-position:22px 22px;

}

h1{
  padding-left: 33px;
  font-family: 'Gill Sans';
  color: white;
  text-shadow: 0 0 5px #ffff64;
  margin-top: 40px;
}

.index{
  font-family: "Times New Roman", Times, serif;
  padding-left: 34px;
}

li{
  list-style-type: none;
  height: 25px;

}

a{
  margin: 5px;
  text-decoration: none;
  line-height: 20px;
  color: rgb(255, 255, 100);
  height: 1;
  gap: 5px;
}

a:hover {
  color: rgb(243,82,74);
  text-shadow: 0 0 3px #ff0000;
}