body{
  background-color: rgb(0, 0, 0);
  background-image: url(media/folios.jpg);
  background-size: 314px;
  background-repeat: repeat-y;
  background-position-x: 1%;
  background-position-y: 1%;
}

h1{
  padding-left: 33px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-shadow: 0 0 5px #ffff64;
}

.index{
  font-family: "Times New Roman", Times, serif;
  padding-left: 34px;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  line-height: 20px;
  color: rgb(255, 255, 100);
}

a:hover {
  color: rgb(243,82,74);
  text-shadow: 0 0 3px #ff0000;
}